.Form {}
  .Form__heading {
    background-color: #EEEEEE;
    padding: 20px;
    margin: 0;
    font-size: 28px; }
  .Form__fields {
    padding: 20px; }
  .Form__submit {
    display: flex;
    align-items: center;
    padding: 0 20px 20px 20px; }
    .Form__status {
      margin: 0 0 0 20px; }
